$gutter: 40px;
$gutter--mobile: 4vw;

$ff--1: 'Poppins', sans-serif;
$ff--2: 'SandeMore-Regular';

$c--1: #101717;
$c--1-1: #212121;
$c--1-3: #131717;
$c--2: #F2F0EA;
$c--3: #f2f0ea1a;

/*
    Offset Colours
 */
$c-o--1: #7F7F7C;
$c-o--2: #313233;
$c-o--3: #ffffff;
$c-o--4: #f44336;
$c-o--5: #9ede82;